{% extends 'layout.html' %}

{% block title %}Página de prueba{% endblock %}

{% block content %}
    <h1>Página de mi web</h1>
    <p>Creado por Víctor Robles</p>
    <p>Duis nec dapibus velit. Cras pretium sit amet enim eu maximus. 
    Nam nec efficitur purus. Suspendisse at lorem sed diam pellentesque 
    pretium eget sit amet sapien. Vestibulum at vulputate urna. 
    Etiam pretium nibh nunc, vitae tempor lacus lacinia nec. Cras 
    vulputate ex ac sollicitudin faucibus. Sed lorem tortor, 
    porta id sem sed, aliquet ullamcorper tortor. Nullam sagittis 
    orci vitae velit scelerisque rhoncus. Phasellus cursus lorem neque, 
    fringilla rhoncus mi viverra eu. </p>
{% endblock %}